/* .modal {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.open {
    display: block
}

.modal-content {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

 */


 /* для 12го задания */










 